html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #FBFBFF;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

.content {
    color: #1E1E1E;
    background-color: #FBFBFF;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

#headerIntroWord {
  color:#1E1E1E;
}

.headerText {
    color: #FF331F;
    margin-top:0;
    font-weight: 1;
    font-size: 2.5em;
}

#intro {
  width: 100%;
  min-height:100vh;
  position:relative;
  background-color: #7e7e7e;
}

#introContentContainer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top:auto;
  min-height:70%;
  background-color: #7e7e7e;
}

#intro_message {
  display:block;
  padding-top: 1em;
  width:70%;
  margin-left: auto;
  margin-right:auto;
  text-align: left;
  font-size: 5em;
  z-index: 1;
  margin-top:0;
  font-weight: 1;
  color:#FBFBFF;
}

#intro_message > span {
    display:inline;
    white-space:nowrap;
}

#name {
  color: #FF331F;
}

#blinking-cursor {
  font-weight: 100;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

#intro_icons {
  list-style: none;
}

#intro_icons {
  width:70%;
  margin-left:auto;
  margin-right:auto;
  column-count:3;
  text-align: left;
  padding-left: 0;
}

#intro_icons > li {
  display: block;
  color: #FBFBFF;
  font-size: 9vh;
}

#aboutMeContainer {
    display:block;
    z-index:1;
    width:70%;
    height:60%;
    padding-top: 3em;
    margin-bottom: 0;
    margin-left:auto;
    margin-right:auto;
}

#aboutMeTextContainer {
  display:inline-block;
  width:55%;
}

.aboutMeText {
  font-size: 4vh;
  width: 100%;
}

#aboutMePhotoContainer {
  display: inline-block;
  width: 45%;
  height: auto;
  max-height: 100%;
}

#aboutMePicture {
  max-width:90%;
}

#projects {
  width: 100%;
}

#technologies {
  height: 35em;
  width: 100%;
  z-index: 0;
  background-attachment: fixed;
  background-color: #FBFBFF;
}

#techonologiesContent {
    position:relative;
    top:25%;
    background-color: #7e7e7e;
    max-height: 45%;
}

#technologiesHeader {
  color: #FF331F;
  font-size: 3em;  
  text-align: center;
  position: relative;
  top: 50%;
  margin-top:0;
  margin-bottom:0;
}

#languageList {
    text-align: center;
    column-count: 3;
    width:20%;
    position:relative;
    left:37%;
}

#languageList > li {
    display:block;
}

#apiList {
    column-count: 6;
    width:45%;
    position:relative;
    left: 25%;
}

#apiList > li {
    display:block;
}

.logo {
    height: auto;
    width: auto;
    max-height: 5em;
    max-width: 5em;
    
}

#projectsHeader {
    text-align: center;
}

#projectsPhoto {
  height: 20em;
  width: 100%;
}

#projectList {
    padding-left: 0;
  list-style: none;
}

.project {
    width: 70%;
    text-align:left;
    display:inline-block;
}

.projectPhoto {
    max-width: 100%;
    margin-right: 0;
}

.projectPhotoContainer {
  width:45%;
  float: right;
}

.projectContent {
  float:left;
  width:55%;
  text-align: left;
  margin-right: 0;
}

.projectName {
  text-align: center;
  font-size: 4vh;
}

#contactMe {   
  background-color: #7e7e7e;
}

#contactContent {
  width:70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#contactHeader {
    margin-top:0;
}

#contactInfo {
  width:100%;
  margin-left: auto;
  margin-right:auto;
  text-align: center;
  list-style:none;
  margin-bottom: 0px;
  color: #FBFBFF;
  column-count:3;
  padding-left:0;
}

#contactInfo > li{
  display:block;
  font-size: 1em;
  padding-bottom: 1em;
}

span {
  display: block;
}

p span {
    color: #FBFBFF;
}
